.nav-link {
    padding: 0; 
  }
  
  .navbar-nav li:first-child {
    padding: 0px 8px; 
  }
  
  .navbar-nav li ~ li {
    border-left: 1px solid rgba(56, 114, 186, 0.3); 
    padding: 0px 8px; 
  }
  
  .navbar {
    background-color: #0a2f66; 
  }
  
  .navbar-brand,
  .nav-link {
    color: #EEF4ED; 
  }
  
  .navbar-toggler  {
    background-color: #134f8f; 
    border-color: #11032f; 
  }
  
  .navbar-brand:hover,
  .navbar-brand:focus,
  .nav-link:hover,
  .nav-link:focus {
    color: #4183c0; 
  }
  
  @media screen and (max-width: 575px) { 
    .nav-link {
      width: 150px;
      padding: 8px 24px; 
    }
    .navbar-nav li ~ li {
      border-left: none; 
    }
  }